<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="post" action="/">
      <label for="piglatin">Enter your phrase:</label>
      <textarea id="piglatin" name="piglatin" placeholder="user_phrase" rows="4" cols="50">
        This text will be pig-latinized!
      </textarea>
    </form>
  </body>
</html>